* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50%;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
} 
h1 {
    color: #B39048;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
} 
#boton-carrito {
    border: none;
    color: #B39048;
    font-size: 40px;
    /* background-color: white; */
    /* border-radius: 5; */
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: #B39048;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
    color:white;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    /* box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); */
}

select{
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color:black;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #B39048;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #B39048;
    border: none;
    background-color: black ;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    color: #B39048;
    
}
.card{
    background-color: #10141b;
}

.card-title{
    color :#B39048;
    position:unset
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: none;
}
.productoEnCarrito {
    border-left: 5px solid #10141b;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #B39048;
}

.boton-eliminar {
    background-color: black;
    color: #B39048;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.colorProd{
    color: #B39048;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 8%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #d1be13;
}